DB_PATH=output/analise.db

HTTP_MAX_RETRIES=5
HTTP_BACKOFF_BASE_SECONDS=2
HTTP_BACKOFF_MAX_SECONDS=120
HTTP_JITTER_SECONDS=1

OCR_DPI=180
OCR_MAX_PAGES=20
PDF_TEXT_MAX_PAGES=0
PDF_TEXT_TIMEOUT_SECONDS=180
